.App {
    display: flex; 
    justify-content: center; 
    align-items: center;
    text-align: center;
    height: 100vh;
    background-color: whitesmoke;
}

.calculator {
    display: flex; 
    flex-direction: column;
    border: 3px solid black;
    border-radius: 3px;
    box-shadow: 5px 5px 8px darkgray;
    width: 20vw; 
    height: 60vh; 
}

.calculator-display {
    display: flex; 
    justify-content: flex-end; 
    align-items: flex-end;
    height: 20%; 
    padding-right: 4px; 
    background-color: black;
    border: groove;
    color: white; 
    font-size: 350%;
}

.calculator-keypad {
    display: flex; 
    height: 80%;
    width: 100%;
}
.key-set1 {
    display: flex; 
    flex-direction: column;
    width: 75%;
}
.calculator-keys {
    width: 64px;
    height: 64px;
    font-size: 80%;
    font-weight: 600;
}

.function-keys {
    display: flex; 
}
.function-keys button {
    /* background-color: lightgray; */
    background-color: yellow; 
    border: groove; 
}
.numeric-keys {
    display: flex; 
    flex-wrap: wrap;
    height: 82%;
}
.numeric-keys button {
    background-color: gray;
    color: white; 
    border: groove;
}
.key-1 {
    order: 6;
}
.key-2 {
    order: 7;
}
.key-3 {
    order: 8;
}
.key-4 {
    order: 3;
}
.key-5 {
    order: 4;
}
.key-6 {
    order: 5; 
}
.key-7 {
    order: 0; 
}
.key-8 {
    order: 1;
}
.key-9 {
    order: 2;
}
.key-0 {
    width: 128px;
    order: 9;
}
.key-• {
    order: 10; 
}
.key-set2 {
    display: flex; 
    flex-direction: column;
    width: 25%;
}
.operator-keys {
    display: flex; 
    flex-direction: column;
}

.operator-keys button {
    background-color: rgb(247, 160, 0);
    color: white; 
    font-size: 110%;
    border: groove;
}

